.root{
    -fx-background-color: #4dc6cd;
}
#mainSlider .track{
    -fx-background-color: #fdf500;
    -fx-height: 20px;
}

#volSlider .track{
    -fx-background-color: #ef92b4;
}
#open{
    -fx-background-color: #788bff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#play{
    -fx-background-color: #788bff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#seekback10{
    -fx-background-color: #788bff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#seekforward10{
    -fx-background-color: #788bff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#picker{
    -fx-background-color: #788bff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#restart{
    -fx-background-color: #788bff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}
#picker{
    -fx-background-color: #4169e1;
    -fx-border: 1px peachpuff;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

#playlistView {
    -fx-opacity: 0;
    -fx-background-color: #4dc6cd; /* Change background color as needed */
}

#playlistView:hover {
    -fx-opacity: 1;
}