.root{
    -fx-background-color: #8bc7bb;
}

#playlistView {
    -fx-opacity: 0;
    -fx-background-color: #8bc7bb; /* Change background color as needed */
}

#playlistView:hover {
    -fx-opacity: 1;
}